@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope/Manrope-VariableFont_wght.ttf")
    format("woff");
  /* font-weight: 125 950; */
}

* {
  font-family: "Manrope";
}

section,
header,
footer {
  overflow-x: hidden;
  background-color: rgba(var(--color-black) / 0.95);
  @apply py-16 lg:py-32;
}

@layer base {
  :root {
    --color-black: 30 27 27;
    --color-primary: 255 100 51;
    --color-secondary: 102 28 231;
    --color-mint: 92 186 153;
    --color-steelgrey: 226 230 233;
    --color-lightgrey: 242 242 242;
    --color-white: 255 255 255;

    /* --number-of-indicators: 3; */
    --items-per-slide: 2;
  }

  h1 {
    @apply font-extrabold text-[4rem] leading-[5.25rem];
  }

  h2 {
    @apply font-extrabold text-5xl lg:text-[3.625rem] leading-[4rem] lg:leading-[4.75rem];
  }

  h3 {
    @apply font-bold text-5xl leading-[3.7rem] lg:leading-[4.2rem];
  }

  h4 {
    @apply font-semibold text-[1.5rem] leading-[2rem] lg:leading-[2.2rem];
  }

  h5 {
    @apply font-bold text-[2rem] lg:leading-[3rem];
  }

  h6 {
    @apply font-semibold text-lg lg:text-xl lg:leading-[1.875rem];
  }

  h5 {
    @apply font-semibold text-lg lg:text-xl lg:leading-[1.875rem];
  }

  p {
    @apply text-sm lg:text-lg lg:leading-8;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary hover:opacity-90 px-4 lg:px-8 py-3 lg:py-3 text-[rgb(var(--color-white))] font-semibold text-lg lg:leading-[2rem] rounded-lg lg:rounded-2xl;
  }

  .btn-secondary {
    @apply bg-black px-4 lg:px-8 py-3 lg:py-3 text-[rgb(var(--color-white))] font-semibold text-lg rounded-lg lg:rounded-2xl;
  }

  .nav-link {
    @apply font-semibold text-sm lg:text-base;
  }

  .service-pill {
    /* 109_108_115 */
    /* 255_255_255 */
    /* [box-shadow:0px_0px_0px_12px_rgb(255_255_255/_43%)] */
    /* w-[281px] h-[102px] */
    /*   */
    /* border-[rgba(225,225,225,0.43)] */
    @apply bg-white [box-shadow:0px_28px_118px_0px_rgb(109_108_115/_12%)] py-5 lg:py-9 px-3 flex space-x-4 items-center rounded-full;
  }

  .offer-card {
    @apply w-full py-5 md:w-[calc(50%_-_16px)] lg:w-[calc(25%_-_16px)] text-center aspect-video grid place-items-center bg-white hover:bg-primary hover:text-white m-1;
  }

  .brand-logo {
    @apply w-full md:w-1/2 lg:w-1/5;
  }

  .testimonial-slide {
    @apply bg-white w-full flex-shrink-0 lg:w-[50%] p-4 lg:p-16 border-[rgb(172,172,172,29%)] [box-shadow:11px_130px_100px_30px_rgba(0,_0,_0,_0.02)];
  }

  .collapse-toggle {
    @apply w-[50px] h-[50px] absolute top-0 right-0 mt-10 mr-10 grid place-items-center text-white font-bold text-5xl bg-primary outline-0;
  }

  /* .collapse-toggle::after {
    @apply content-['\02795'] w-[50px] h-[50px] absolute top-0 right-0 mt-10 mr-10 grid place-items-center text-white font-bold text-lg bg-primary;
  } */

  .collapse-item {
    @apply bg-white p-5 lg:p-10 mt-3 relative;
  }

  .collapse-title {
    @apply pr-7;
  }

  .collapse-title {
    @apply after:w-6 after:h-6 after:bg-primary after:absolute after:top-5 after:right-5 select-none cursor-pointer;
  }

  /* Stop animating the height property */
  .collapse-item .collapse-content {
    @apply overflow-x-hidden h-0 origin-top transition-all;
  }

  .collapse-item.collapse-open .collapse-content {
    @apply h-full;
  }

  .slider {
    @apply transition-transform;
  }

  .controls-container {
    /* lg:w-[calc(50%_+_12px)] */
    @apply mt-4 flex justify-between items-center w-1/2 ml-auto;
  }

  .indicators {
    @apply space-x-1 md:space-x-2 flex lg:space-x-4 justify-center;
  }

  .indicator {
    @apply w-2 sm:w-3 md:w-4 lg:w-6 h-1 border-gray-400 bg-gray-400 shrink-0;
  }

  .indicators .indicator.active {
    @apply bg-primary;
  }

  .form-input {
    @apply py-3 lg:py-6 pl-5 lg:pl-10 w-full outline-none;
  }

  .menu-sticky {
    @apply fixed top-0 w-full md:pb-8 pb-4 md:pt-8 transition z-[100] bg-white shadow-lg;
  }

  .arrow-link {
    @apply flex items-center ml-16 mt-8 space-x-5;
  }

  .timeline-dot {
    @apply w-10 h-10 bg-secondary grid place-items-center text-white rounded-full absolute top-1;
  }

  .timeline-line {
    @apply top-[10px] absolute left-1/2 -translate-x-1/2 w-0 h-[calc(100%)] place-self-center border-dotted border-l-[3px] border-primary -z-10;
  }
}

@layer utilities {
  .body1 {
    @apply text-lg leading-8;
  }

  .body2 {
    @apply leading-7 text-base;
  }

  .title {
    @apply text-[1.2rem] lg:text-[2rem] leading-[3rem] -tracking-[0.03em];
  }

  .title2 {
    @apply text-lg lg:text-xl lg:leading-9 -tracking-[0.03em];
  }

  .caption {
    @apply leading-6 font-medium;
  }
}
